<body>
        <div class="container" id="homework-section">
            <div class="panel panel-primary">
                <div class="panel-heading">Assign Homework</div>
                <div class="panel-body">
                    <form id="homework-form">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="hwInputDate">Due Date</label>
                                <input type="date" class="form-control" id="hwInputDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hwInputDescription">Description</label>
                            <textarea class="form-control" rows="5" id="hwInputDescription"></textarea>
                        </div>
                        <button type="submit" ng-click="addHomework()" class="btn btn-primary" id="hwSubmitButton">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
