<body>
        <div class="container" id="homework-section">
            <div class="panel panel-primary">
                <div class="panel-heading">Send Message</div>
                <div class="panel-body">
                    <form id="message-form">
                        <div class="form-group">
                            <label for="messageInputDescription">Message</label>
                            <textarea class="form-control" rows="5" id="messageInputDescription"></textarea>
                        </div>
                        <button type="submit" ng-click="addMessage()" class="btn btn-primary" id="messageSubmitButton">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
