<div class="container" id="ToDo-section">
    <div class="panel panel-primary">
        <div class="panel-heading">To Do List</div>
        <div class="panel-body">
            <form id="ToDo-form">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="ToDoInputDate">Due Date</label>
                        <input type="date" class="form-control" id="ToDoInputDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ToDoInputDescription">Description</label>
                    <textarea class="form-control" rows="5" id="ToDOInputDescription"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="addToDo()" id="ToDoSubmitButton">Submit</button>
            </form>
        </div>
    </div>
    <ul class="todo-list" ng-repeat="x in toDoList">
			<li class="done">
				<input id="{{x.id}}" type="checkbox" ng-click="checkItem($event)"/>
				<label class="toggle" for="find"></label>
				{{x.description}}
			</li>
    </ul>
    <button>Mark Complete</button>
</div>
