<div class="container" id="WishList-section">
    <div class="panel panel-primary">
        <div class="panel-heading">Wish List</div>
        <div class="panel-body">
            <form id="WishList-form">
                <div class="form-group">
                    <label for="WishListInputDescription">Message</label>
                    <textarea class="form-control" rows="5" id="WishListInputDescription"></textarea>
                </div>
                <div class="sign up">
                    <button type="submit" class="signupbtn" id="WishListSubmitButton">Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</div>
